scripts/.current_wallpaper
scripts/.border-mode
scripts/__pycache__/
rofi/.current_wallpaper
hypr/.vscode/
hypr/.monitor-cache
gtk-3.0/bookmarks
waybar/.current_position
obs-studio/logs/
obs-studio/profiler_data/
obs-studio/.sentinel/
obs-studio/plugin_config/obs-websocket/
obs-studio/basic/scenes/
systemd/user/*.wants/
*.env
.env*
