:root {
  --surface: #101510;
  --surface-dim: #101510;
  --surface-bright: #353a35;
  --surface-container-lowest: #0a0f0b;
  --surface-container-low: #181d18;
  --surface-container: #1c211c;
  --surface-container-high: #262b27;
  --surface-container-highest: #313631;
  --on-surface: #dfe4dc;
  --on-surface-variant: #c0c9bf;
  --primary: #96d5a7;
  --on-primary: #00391c;
  --primary-container: #11512e;
  --on-primary-container: #b1f1c1;
  --secondary: #b6ccb9;
  --on-secondary: #223527;
  --secondary-container: #384b3c;
  --on-secondary-container: #d2e8d4;
  --tertiary: #a2ceda;
  --on-tertiary: #023640;
  --tertiary-container: #214c57;
  --on-tertiary-container: #beeaf6;
  --error: #ffb4ab;
  --on-error: #690005;
  --error-container: #93000a;
  --on-error-container: #ffdad6;
  --outline: #8b938a;
  --outline-variant: #414942;
  --background: #101510;
  --on-background: #dfe4dc;
  --inverse-surface: #dfe4dc;
  --inverse-on-surface: #2c322d;
  --inverse-primary: #2e6a44;
  --shadow: #000000;
  --scrim: #000000;
}
