* {
    primary:               #000000;
    on-primary:            #ffffff;
    surface-dim:           #ffffff;
    surface-dim-alpha:     #ffffff;
    surface-container:     #f0f0f0;
    surface-container-high:#e0e0e0;
    on-surface:            #000000;
    on-surface-variant:    #666666;
    error-container:       #dddddd;
    on-error-container:    #000000;
}
